.DS_Store
Icon
*.swp
CVS
.#*
.svn
.hg
.hgignore
.netrwhist
*.pbxuser
*.old
*.log
*.out
*.cache
*.bak
*.lock
*~
tmp/**
._*
*.class
*.pyc
*~.nib
.CREATED
.VolumeIcon.icns
.fseventsd
.dropbox
.dropbox-cache
config_rnt.vim
